* {
    box-sizing: border-box;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;


}
[class*="square"]
{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    padding: 10px;
    background-color:rgb(196, 193, 193);
    display: flex;
    border-radius:6px;
}

.circle {
    width: 20px;
    height: 20px;
    margin: 3px;
    padding: 11px;
    background-color: rgb(49, 49, 49);
    border-radius: 50%;
}
.first-square {
    align-items: center;
    justify-content: center;
}

.second-square {
    justify-content:space-between;
}

.second-square .circle:last-child {
    align-self: flex-end;
}

.thred-square .circle:last-child {
    align-self: flex-end;
    justify-content: space-between;
}

.center {
    margin-top: 30px;
}


.fourth-square {
    justify-content: space-between;
    
}

.col-left {
  
}

.fifth-square {
    justify-content: space-between;

}
.col-center {
    align-self: center;
}

.sixth-square {
    justify-content: space-between;
}    

